.DotsEditor-editor, .DotsEditor-result {
  position: fixed;

  overflow: auto;
}

.DotsEditor-editor {
  background-color: var(--grey);
}

.DotsEditor-result {
  background-color: var(--black);
}

@media (orientation: landscape) {
  .DotsEditor-editor, .DotsEditor-result {
    width: 50vw;
    height: 90vh;
    top: 10vh;
  }

  .DotsEditor-editor {
    left: 0;
  }

  .DotsEditor-result {
    right: 0;
  }
}

@media (orientation: portrait) {
  .DotsEditor-editor, .DotsEditor-result {
    width: 85vw;
    height: 50vh;
    left: 15vw;
  }

  .DotsEditor-editor {
    top: 0;
  }

  .DotsEditor-result {
    bottom: 0;
  }
}

.DotsEditor-color-picker-container {
  position: absolute;
  left: 50%;

  transform: translate(-50%);
}

.DotsEditor-color-picker-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: #000a;
}
