.DotsEditor-header {
  background-color: var(--dark-black);
  color: var(--white);

  position: fixed;

  font-size: 5vh;
  padding: 2.5vh;

  width: 100vw;
  height: 10vh;
}

.DotsEditor-editor, .DotsEditor-result {
  position: fixed;
}

.DotsEditor-editor {
  background-color: var(--grey);
}

.DotsEditor-result {
  background-color: var(--black);
}

@media (orientation: landscape) {
  .DotsEditor-editor, .DotsEditor-result {
    width: 50vw;
    height: 90vh;
    top: 10vh;
  }

  .DotsEditor-editor {
    left: 0;
  }

  .DotsEditor-result {
    right: 0;
  }
}

@media (orientation: portrait) {
  .DotsEditor-editor, .DotsEditor-result {
    width: 100vw;
    height: 45vh;
    left: 0;
  }

  .DotsEditor-editor {
    top: 10vh;
  }

  .DotsEditor-result {
    bottom: 0;
  }
}
