.ObjectInfo {
  background-color: var(--white);
  color: var(--black);

  border-radius: 3vh;

  margin: 1vh;
  padding: 2vh;
}

.ObjectInfo.ObjectInfo-selected {
  background-color: var(--blue);
  color: var(--white);
}

.ObjectInfo-header {
  font-size: 4vh;
}

.ObjectInfo-property, .ObjectInfo-property input {
  font-size: 2.5vh;
}

.ObjectInfo-property.ObjectInfo-selected-property input {
  background-color: var(--purple);
  color: var(--white);
}
